<!DOCTYPE html>
<html>
  <head>
    <title>Professor Grizwald - AMO Validator Statistics Engine</title>
    <link type="text/css" rel="stylesheet" href="http://framecdn.serverboy.net/latest.css" />
  </head>
  <body>
    <div id="container">
      <header>
        <h1>Grizwald - AMO Validator Statistics</h1>
      </header>
      <section id="tracebacks">
        <h2>Traceback Counts</h2>
        <div class="graph"></div>
        <p>A plot of tracebacks over time. This number should stay VERY low at all times.</p>
      </section>
      <section id="performance">
        <h2>Performance Data</h2>
        <div class="graph"></div>
        <p>A plot of validation duration over time. Large fluctuations are a bad sign.</p>
      </section>
    </div>
  </body>
</html>
